<%- include("header") -%>

<div class="box" id="heading">
  <h1><%- title -%></h1>
</div>

<div class="box">
  <% for (x of newListItem){ %>
  <div class="item">
    <input type="checkbox" name="itemCheck">
    <p><%= x %></p>
  </div>
  <%}%>

  <form class="item" action="/edit-list" method="post">
    <input type="text" name="newItem" placeholder="New Item" required autocomplete="off">
    <button class="item-button" type="submit" name="button">+</button>
  </form>
</div>

<div class="clear-box">
  <form class="clear" action="/" method="post">
    <button class="clear-btn" class="button" type="submit" name="button">Clear</button>
  </form>
</div>

<%- include("footer") -%>
